<a href="https://colab.research.google.com/github/DeV-Parekh/ML_Tasks/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Converting list into series of elements

In [ ]:
import numpy as np
import pandas as pd
d=[1,2,3,4,5]
pd.Series(data=d)
#convert element lists into series of elements , which have index from 0-5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
di={'a':1,'b':2,'c':3,'d':4}
pd.Series(di)
#dictionary keys act as index and values with every key act as series values

a    1
b    2
c    3
d    4
dtype: int64

Mathematical Operations on two series

In [ ]:
s1=pd.Series([1,2,3,4],['India','China','Nepal','Russia'])
s2=pd.Series([2,3,4,5],['India','China','Bhutan','Russia'])
s3=pd.Series([2,3,4,5],['India','China','Nepal','Russia'])
print('-----------------')
print('s1+s3\n',s1+s3)  #Addition
print('-----------------')
print('s1-s2\n',s1-s2)  #Subtraction
print('-----------------')
print('s1*s2\n',s1*s2)  #Multiplication
print('-----------------')
print('s1/s2\n',s1/s2)  #Division

-----------------
s1+s3
 India     3
China     5
Nepal     7
Russia    9
dtype: int64
-----------------
s1-s2
 Bhutan    NaN
China    -1.0
India    -1.0
Nepal     NaN
Russia   -1.0
dtype: float64
-----------------
s1*s2
 Bhutan     NaN
China      6.0
India      2.0
Nepal      NaN
Russia    20.0
dtype: float64
-----------------
s1/s2
 Bhutan         NaN
China     0.666667
India     0.500000
Nepal          NaN
Russia    0.800000
dtype: float64

Converting into data frame and indexing

In [ ]:
#create random dataframe
from numpy.random import randn
df = pd.DataFrame(randn(6,4),['A','B','C','D','E','F'],['W','X','Y','Z'])
#generate random number for 5 rows and 4 columns
print(df)

          W         X         Y         Z
A -1.796798  0.561091  0.833999  1.435929
B  0.426842 -0.339018 -0.849298  0.762679
C -0.619759  0.447251 -0.504106 -1.549218
D  0.804212  1.225435 -0.292558 -0.778772
E  0.060600  0.946520  0.744893  0.369992
F -1.217072 -0.348584  0.366426 -0.866654

In [ ]:
#create dataframe from dictionary
weather_data={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[22,35,20,12,29,31],
    'windspeed':[6,7,2,np.NaN,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

df1 = pd.DataFrame(weather_data)
df1

        day  temperature  windspeed  event
0  1/1/2017           22        6.0   Rain
1  1/2/2017           35        7.0  Sunny
2  1/3/2017           20        2.0   Snow
3  1/4/2017           12        NaN   Snow
4  1/5/2017           29        4.0   Rain
5  1/6/2017           31        2.0  Sunny

In [ ]:
#Shape function
df1.shape

(6, 4)

In [ ]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/MyDrive')

Mounted at /content/MyDrive

In [ ]:
# Reading csv file from Google drive 
df2 = pd.read_csv('/content/MyDrive/MyDrive/ML/weather_data.csv')
df2

           day  temperature  windspeed  event
0   01-01-2019         32.0        6.0   Rain
1   02-01-2019         35.0        7.0  sunny
2   03-01-2019         28.0        2.0   snow
3   04-01-2019         24.0        7.0   snow
4   05-01-2019         32.0        4.0   Rain
5   06-01-2019         31.0        2.0  sunny
6   07-01-2019          NaN        4.0   Rain
7   08-01-2019         23.0        NaN  sunny
8   09-01-2019         34.0        3.0   snow
9   10-01-2019          NaN        6.0   snow
10  11-01-2019         45.0        5.0  sunny
11  12-01-2019          NaN        4.0   Rain
12  13-01-2019         40.0        NaN  sunny
13  14-01-2019         34.0        2.0   snow
14  15-01-2019         32.0        4.0  sunny
15  16-01-2019         12.0        5.0   Rain
16  17-01-2019         10.0        6.0  sunny
17  18-01-2019          NaN        7.0   snow
18  19-01-2019         23.0        8.0   Rain
19  20-01-2019         20.0        NaN   Rain
20  21-01-2019         23.0        2.0  sunny
21  22-01-2019         32.0        3.0   snow
22  23-01-2019         20.0        4.0   Rain
23  24-01-2019         30.0        NaN  sunny
24  25-01-2019         32.0        5.0   snow
25  26-01-2019         30.0        4.0  sunny
26  27-01-2019         29.0        2.0   Rain

In [ ]:
# Head and Tail functions
print(df2.head())
print(df2.tail())

          day  temperature  windspeed  event
0  01-01-2019         32.0        6.0   Rain
1  02-01-2019         35.0        7.0  sunny
2  03-01-2019         28.0        2.0   snow
3  04-01-2019         24.0        7.0   snow
4  05-01-2019         32.0        4.0   Rain
           day  temperature  windspeed  event
22  23-01-2019         20.0        4.0   Rain
23  24-01-2019         30.0        NaN  sunny
24  25-01-2019         32.0        5.0   snow
25  26-01-2019         30.0        4.0  sunny
26  27-01-2019         29.0        2.0   Rain

In [ ]:
# Accessing specific columns
print(df2[['day','event']])
print('----------------------------')
# Accessing specific rows
print(df2[:4])

           day  event
0   01-01-2019   Rain
1   02-01-2019  sunny
2   03-01-2019   snow
3   04-01-2019   snow
4   05-01-2019   Rain
5   06-01-2019  sunny
6   07-01-2019   Rain
7   08-01-2019  sunny
8   09-01-2019   snow
9   10-01-2019   snow
10  11-01-2019  sunny
11  12-01-2019   Rain
12  13-01-2019  sunny
13  14-01-2019   snow
14  15-01-2019  sunny
15  16-01-2019   Rain
16  17-01-2019  sunny
17  18-01-2019   snow
18  19-01-2019   Rain
19  20-01-2019   Rain
20  21-01-2019  sunny
21  22-01-2019   snow
22  23-01-2019   Rain
23  24-01-2019  sunny
24  25-01-2019   snow
25  26-01-2019  sunny
26  27-01-2019   Rain
----------------------------
          day  temperature  windspeed  event
0  01-01-2019         32.0        6.0   Rain
1  02-01-2019         35.0        7.0  sunny
2  03-01-2019         28.0        2.0   snow
3  04-01-2019         24.0        7.0   snow

In [ ]:
# Various operations while accessing column
print(df2.columns)
print(df2['temperature'].max())
print(df2['temperature']>32)
df2[df2['temperature']>32]

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')
45.0
0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10     True
11    False
12     True
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
Name: temperature, dtype: bool

           day  temperature  windspeed  event
1   02-01-2019         35.0        7.0  sunny
8   09-01-2019         34.0        3.0   snow
10  11-01-2019         45.0        5.0  sunny
12  13-01-2019         40.0        NaN  sunny
13  14-01-2019         34.0        2.0   snow

In [ ]:
# Describe function
df2.describe()

       temperature  windspeed
count    23.000000  23.000000
mean     28.304348   4.434783
std       8.115276   1.854383
min      10.000000   2.000000
25%      23.000000   3.000000
50%      30.000000   4.000000
75%      32.000000   6.000000
max      45.000000   8.000000

Data Manipulation:Drop Missing Elements

In [ ]:
new_df = df2.dropna(axis=0,how='any') # any
new_df

           day  temperature  windspeed  event
0   01-01-2019         32.0        6.0   Rain
1   02-01-2019         35.0        7.0  sunny
2   03-01-2019         28.0        2.0   snow
3   04-01-2019         24.0        7.0   snow
4   05-01-2019         32.0        4.0   Rain
5   06-01-2019         31.0        2.0  sunny
8   09-01-2019         34.0        3.0   snow
10  11-01-2019         45.0        5.0  sunny
13  14-01-2019         34.0        2.0   snow
14  15-01-2019         32.0        4.0  sunny
15  16-01-2019         12.0        5.0   Rain
16  17-01-2019         10.0        6.0  sunny
18  19-01-2019         23.0        8.0   Rain
20  21-01-2019         23.0        2.0  sunny
21  22-01-2019         32.0        3.0   snow
22  23-01-2019         20.0        4.0   Rain
24  25-01-2019         32.0        5.0   snow
25  26-01-2019         30.0        4.0  sunny
26  27-01-2019         29.0        2.0   Rain

In [ ]:
neww_df = df2.dropna(axis=0,how='all') # all
neww_df

           day  temperature  windspeed  event
0   01-01-2019         32.0        6.0   Rain
1   02-01-2019         35.0        7.0  sunny
2   03-01-2019         28.0        2.0   snow
3   04-01-2019         24.0        7.0   snow
4   05-01-2019         32.0        4.0   Rain
5   06-01-2019         31.0        2.0  sunny
6   07-01-2019          NaN        4.0   Rain
7   08-01-2019         23.0        NaN  sunny
8   09-01-2019         34.0        3.0   snow
9   10-01-2019          NaN        6.0   snow
10  11-01-2019         45.0        5.0  sunny
11  12-01-2019          NaN        4.0   Rain
12  13-01-2019         40.0        NaN  sunny
13  14-01-2019         34.0        2.0   snow
14  15-01-2019         32.0        4.0  sunny
15  16-01-2019         12.0        5.0   Rain
16  17-01-2019         10.0        6.0  sunny
17  18-01-2019          NaN        7.0   snow
18  19-01-2019         23.0        8.0   Rain
19  20-01-2019         20.0        NaN   Rain
20  21-01-2019         23.0        2.0  sunny
21  22-01-2019         32.0        3.0   snow
22  23-01-2019         20.0        4.0   Rain
23  24-01-2019         30.0        NaN  sunny
24  25-01-2019         32.0        5.0   snow
25  26-01-2019         30.0        4.0  sunny
26  27-01-2019         29.0        2.0   Rain

Data Manipulation: Filling Suitable Value

In [ ]:
print(df2['temperature'].fillna(value=df2['temperature'].mean())) # Temperature column
print('----------------------')
print(df2['windspeed'].fillna(value=df2['windspeed'].std())) # Windspeed column

0     32.000000
1     35.000000
2     28.000000
3     24.000000
4     32.000000
5     31.000000
6     28.304348
7     23.000000
8     34.000000
9     28.304348
10    45.000000
11    28.304348
12    40.000000
13    34.000000
14    32.000000
15    12.000000
16    10.000000
17    28.304348
18    23.000000
19    20.000000
20    23.000000
21    32.000000
22    20.000000
23    30.000000
24    32.000000
25    30.000000
26    29.000000
Name: temperature, dtype: float64
----------------------
0     6.000000
1     7.000000
2     2.000000
3     7.000000
4     4.000000
5     2.000000
6     4.000000
7     1.854383
8     3.000000
9     6.000000
10    5.000000
11    4.000000
12    1.854383
13    2.000000
14    4.000000
15    5.000000
16    6.000000
17    7.000000
18    8.000000
19    1.854383
20    2.000000
21    3.000000
22    4.000000
23    1.854383
24    5.000000
25    4.000000
26    2.000000
Name: windspeed, dtype: float64

In [ ]:
# Creating a dataframe
df_new = pd.DataFrame(weather_data)
df_new

        day  temperature  windspeed  event
0  1/1/2017           22        6.0   Rain
1  1/2/2017           35        7.0  Sunny
2  1/3/2017           20        2.0   Snow
3  1/4/2017           12        NaN   Snow
4  1/5/2017           29        4.0   Rain
5  1/6/2017           31        2.0  Sunny

In [ ]:
#set column as index
df_new.set_index(['event'],inplace = True)
df_new

            day  temperature  windspeed
event
Rain   1/1/2017           22        6.0
Sunny  1/2/2017           35        7.0
Snow   1/3/2017           20        2.0
Snow   1/4/2017           12        NaN
Rain   1/5/2017           29        4.0
Sunny  1/6/2017           31        2.0

In [ ]:
#Fetch particular rows
df_new.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           20        2.0
Snow   1/4/2017           12        NaN

In [ ]:
# Replace function
df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print(df)
print('--------------------')
print(df.replace({1000:10,2000:60})) #1000 replaced with 10, 2000 replaced with 60

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
--------------------
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

GroupBy Function

In [ ]:
new = df_new.groupby('event').mean() # using mean
print(new)
print('-----------------')
newww = df_new.groupby('event').std() # using std
print(newww)

       temperature  windspeed
event
Rain          25.5        5.0
Snow          16.0        2.0
Sunny         33.0        4.5
-----------------
       temperature  windspeed
event
Rain      4.949747   1.414214
Snow      5.656854        NaN
Sunny     2.828427   3.535534

In [ ]:
# using groupby to get info for a particular member i.e. Rain
df_new.groupby('event').sum().loc['Rain']

temperature    51.0
windspeed      10.0
Name: Rain, dtype: float64

In [ ]:
# Using max with groupby
df_new.groupby('event').max()

            day  temperature  windspeed
event
Rain   1/5/2017           29        6.0
Snow   1/4/2017           20        2.0
Sunny  1/6/2017           35        7.0

In [ ]:
# Using unique() and value_counts() to get unique elements and their counts
dff = df_new['windspeed'].unique()
print('-----UNIQUE--------')
print(dff)
print()
print('-----VALUE_COUNTS--------')
dff1 = df_new['windspeed'].value_counts()
print(dff1)

-----UNIQUE--------
[ 6.  7.  2. nan  4.]

-----VALUE_COUNTS--------
2.0    2
6.0    1
7.0    1
4.0    1
Name: windspeed, dtype: int64

DataFrame to CSV

In [ ]:
df_new.to_csv('example.csv',index=False)